settings.xml
.idea/
.vscode/
out/
*.iml
target/
maven-central-deploy.log
*.jks
*.cer
*.pem
.DS_Store
.classpath
.settings
.project
classes/

### Gradle ###
.gradle
gradle/
build.gradle
settings.gradle
gradlew
gradlew.bat
# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

### Gradle Patch ###
# Java heap dump
*.hprof

### Docs
*.html
docs/
